@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer utilities {
  .hover-scale {
    @apply transition-transform duration-200 hover:scale-105;
  }
  
  .hover-opacity {
    @apply transition-opacity duration-200 hover:opacity-80;
  }
}